[submodule "frontend"]
	path = frontend
	url = https://github.com/SteveSant26/streamflow_music_frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/SteveSant26/streamflow_music_backend.git
